
<ul class="nav navbar-nav">
	<li class="active"><a href='#artist'>Back</a></li>
</ul>

<br>
<br>

<div align="center">
				<span class="label">Album Listing</span>
			</div>

<br>
<br>

<table
	class="table table-hover table-responsive table-condensed table-striped table-bordered" style="width:auto" align='center'>

	<thead>
		<tr>
			<th class="col-md-4">Id</th>
			<th class="col-md-4">Name</th>
			<th class="col-md-4">Image</th>
		</tr>
	</thead>

	<tr ng-repeat="item in items" class="active">
		<td><a href='#track/{{item.name }}'>{{item.id }} </a></td>
		<td>{{ item.name }}</td>
		<td><img src='{{ item.images[0].url }}' height='47' width='64'></img></td>
	</tr>

</table>
