
<div class="container">
	<div class="row" align="center">


		<h3>
			<span>Search Artists:</span>
		</h3>
		<br>

		<div align="center">

			<span>Artist Name:</span>&nbsp;&nbsp;<input
				type="text" ng-model="artistname" />&nbsp;&nbsp;
			<button ng-click="find()" class='button'>Find Artist</button>

		</div>

		<br>


		<div ng-if="items.length > 0">

			<br> <br>

			<div align="center">
				<span class="label">Artist Listing</span>
			</div>

			<br> <br>

			<table
				class="table table-hover table-responsive table-condensed table-striped table-bordered"
				style="width: auto"  align='center'>
				<thead>
					<tr>
						<th class="col-md-4">Id</th>
						<th class="col-md-4">Name</th>
						<th class="col-md-4">Image</th>
					</tr>
				</thead>
				<tr ng-repeat="item in items" class="active">
					<td><a href='#album/{{item.name}}'>{{item.id }} </a></td>
					<td>{{ item.name }}</td>
					<td><img src='{{ item.images[0].url }}' height='47' width='64'
						class="img-rounded"></img></td>
				</tr>

			</table>
		</div>

		<div ng-if="items.length == 0">

			<b>No records found</b>

		</div>



	</div>