
<ul class="nav navbar-nav">
	<li class="active"><a href='#album'>Back</a></li>
</ul>

<br>
<br>

<div align="center">
				<span class="label">Track Listing</span>
			</div>

<br>
<br>

<table
	class="table table-hover table-responsive table-condensed table-striped table-bordered" style="width:750px" align='center'>
	<thead>
		<tr>
			<th class="col-md-4">Id</th>
			<th class="col-md-4">Name</th>
			<th class="col-md-4">Preview</th>
		</tr>
	</thead>
	<tr ng-repeat="item in items" class="active">
		<td>{{item.id }}</td>
		<td>{{ item.name }}</td>
		<td><a href='{{item.preview_url}}' target="_blank">Preview </a></td>
	</tr>

</table>

